<section class="writing" aria-labelledby="writing-title">
	<h2 id="writing-title">Posts</h2>
	{% for post in site.posts %}
		{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
		{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

		{% if forloop.first %}
		<h3 id="{{ this_year }}-ref">{{ this_year }}</h3>
		<ul class="posts">
		{% endif %}

		{% if post.draft != true or site.development == true %}
			<li>
				<a {% if post.draft %}class="draft"{% endif %} href="{{ post.url }}">{{ post.title }}</a>
				<time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d" }}</time>
			</li>
		{% endif %}

		{% if forloop.last %}
		</ul>
		{% elsif this_year != next_year %}
		</ul>
		<h3 id="{{ next_year }}-ref">{{ next_year }}</h3>
		<ul class="posts">
		{% endif %}
	{% endfor %}
</section>
