<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        document.querySelectorAll("h2, h3, h4, h5, h6").forEach(
            function (element, i) {
                var id = element.getAttribute('id');
                var anchor = document.createElement("a");
                anchor.setAttribute("href", '#' + id);
                anchor.classList.add("anchor");
                anchor.setAttribute("aria-hidden", "true");

                if (id) {
                    element.appendChild(anchor);
                }
            }
        );
    });

    var _gauges = _gauges || [];
    (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '4d88bc10a9b23d0ebd00001c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>

<a rel="me" href="https://ruby.social/@olivierlacan"></a>