.site
  .draft
    font-weight: bold
    text-align: right
    color: orangered
    &::before
      content: "⚠ "
      font-style: normal
      font-size: 1.2em
      vertical-align: bottom

  #post, #tool
    font-size: 1.3em
    line-height: 1.5
    @media #{$iphone-breakpoint}
      font-size: 150%

    h2
      font-size: 1.1em

    p > img
      max-width: 100%
      display: block
      margin: 0 auto

    a[rel=footnote]
      margin-left: 0.15em

    ul, ol
      margin-left: 1.35em
    p > code
      border: 1px solid #ddd
      padding: 0 0.2em
    pre
      code
        display: inline-table
        border: none
      &.terminal
        border: 1px solid #000
        background-color: #333
        color: #FFF
        code
          background-color: #333
    [rel=explanation]
      border-bottom: 1px dashed black
      cursor: help

    > table
      margin: 0 auto
      border-collapse: separate

      td, th
        padding: 0 0.4em

        &:first-child
          text-align: right

        img
          vertical-align: middle

#post blockquote
  padding-left: 2em
