---
layout: page
title: Talks
---

<p>One of my favorite ways to share knowledge with the Ruby and greater
open source community is to speak at conferences whenever I can. You can find a list of
all my published talks below with slides and video recordings when available. </p>

<h3>Talks</h3>
<ul class="tools">
  {% assign talks = site.pages | where: "categories", "talk" | sort: "date" %}
  {% for page in talks reversed %}
    {% if page.categories == "talk" %}
      <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
    {% endif %}
  {% endfor %}
</ul>
