---
layout: page
title: Tools
---
<p>This little guide will hopefully give you some good tools to get started or improve your existing Mac workflow. Since I make websites and web applications, this is mostly centered around that. Send me a toodle if you think I'm missing a wonderful app or service in here.</p>

<h3>Text Editors</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'editors' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>Web Development</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'web development' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>Time Management</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'time management' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>Communication</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'communication' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>Security</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'security' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>Operating System</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'operating system' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<h3>News</h3>
<ul class="tools">
  {% for page in site.pages %}
    {% if page.layout == 'tool' %}
      {% if page.categories == 'news' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
