---
layout: page
title: Tools
---

<div id="home">
  <p>This little guide will hopefully give you some good tools to get started or improve your existing Mac workflow. Since I'm a web developer, this is mostly centered around that. Send me a toodle if you think I'm missing a wonderful app or service in here.</p>

  <h2>News</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'news' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Editors</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'editors' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Web Development</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'web development' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Time Management</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'time management' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Communication</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'communication' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Security</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'security' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Operating System</h2>
  <ul class="posts">
    {% for page in site.pages %}
      {% if page.layout == 'tool' %}
        {% if page.categories == 'operating system' %} 
          <li><a href="{{ page.url }}">{{ page.title }}</a><time>{{ page.date | date_to_string }}</time></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>