<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <a class="skip-link" href="#main">Skip to main content</a>
    <div class="container">
      <div class="site">
        <header class="header">
          <h1 class="site-title">
            <a href="/">{{ site.title }}</a>
          </h1>
          {% include navigation.html %}
        </header>
        <main id="main">
            {{ content }}
        </main>
        <footer class="footer">
          <p>You can reach me by <a href="mailto:hi@olivierlacan.com">email</a> or on <a rel="me" href="https://ruby.social/@olivierlacan">Mastodon</a>.</p>
        </footer>
      </div>
    </div> <!-- /container -->

    {% include statistics.html %}
  </body>
</html>
