<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ post.excerpt || site.description }}" />
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feed.olivierlacan.com" />
    <link rel="stylesheet" href="/fonts/octicons/octicons.css">
    {% css_asset_tag global %}
    - /_assets/stylesheets/fonts.sass
    - /_assets/stylesheets/styles.sass
    - /_assets/stylesheets/syntax.sass
    {% endcss_asset_tag %}
  </head>
  <body>

    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
          <nav>
            <ul>
              <li><a class="extra" href="/about/"><span>about</span></a></li>
              <li><a href="/work">work</a></li>
              <li><a href="/tools">tools</a></li>
              <li><a href="/talks">talks</a></li>
            </ul>
          </nav>
          <p class="bio">Software bricoleur, word wrangler, scientific skeptic, and logic lumberjack.</p>
        </div>

            {{ content }}

        <div class="footer">
          <p>Don't be shy, come say <a href="mailto:hi@olivierlacan.com">hi@olivierlacan.com</a>. Or shoot me a little <a href="http://twitter.com/olivierlacan">tweet</a>.</p>
        </div>
      </div>
    </div> <!-- /container -->

  {% javascript_asset_tag global %}
  - /_assets/scripts/script.coffee
  {% endjavascript_asset_tag %}
  <script src="http://embedtweet.com/javascripts/embed_v2.js"></script>
  <script type="text/javascript" src="//use.typekit.net/acy8jpd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4d88bc10a9b23d0ebd00001c');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  </body>
</html>
