<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="site-title">
            <a href="/">{{ site.title }}</a>
            <!-- <span class="site-subtitle">{{ site.subtitle }}</span> -->
          </h1>
          {% include navigation.html %}
        </div>
            {{ content }}
        <div class="footer">
          <p>You can reach me by <a href="mailto:hi@olivierlacan.com">email</a> or on <a href="https://ruby.social/@olivierlacan">Mastodon</a>.</p>
        </div>
      </div>
    </div> <!-- /container -->

    {% include footer.html %}
  </body>
</html>
