---
layout: default
---
{% if page.draft %}<div class='draft'>This post has not been published yet.</div>{% endif %}

<h2>{{ page.title }}</h2>
<p class="meta">
  Written on {{ page.date | date: "%B %d, %Y" }}
  {% if page.location %}
    in <span class='location'>{{ page.location }}</span>
  {% endif %}
  {% if page.update %}
    &amp; updated on <span class='update'>{{ page.update | date: "%B %d, %Y" }}</span>.
  {% endif %}
  <br />
  {% if page.editors %}
    Edited by
    {% for editors_hash in page.editors %}
      {% for editor in editors_hash %}
        <a href="{{ editor[1] }}">{{ editor[0] }}</a>
      {% endfor %}
    {% endfor %}
  {% endif %}
</p>

<div class="post">
{{ content }}
</div>
